.login{
    width: 100vw;
    height: 100vh;
}

.login-intro{
    width: 100vw;
    height: 20vh;
    background: rgba(247, 241, 215, 0.795);
    display: flex;
    justify-content: center;
}
.logo{
    height: 20vh;
}

.login-info{
    width: 100vw;
    height:80vh;
    display:flex;
}

.login-left{
    width: 50vw;
    height: 80vh;
}

.login-right{
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-input-box{
    width: 500px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}